!!!5

%html

  %head
    %title extra20
    %link{ rel: 'stylesheet', type: 'text/css', href: 'style.css' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' }
    %script{ src: '//cdn.optimizely.com/js/793782030.js' }
    %script{ src: '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' }
    %script{ src: 'scripts/parsley.js' }
      
  %body.form

    .santander

    %section.bg-red
      .wrap
        %h2 Thank you!

        %p.intro
          Thank you for your information. A representative from High Start Group will be in contact with you.
 
    %section.bg-white
      .wrap

    %footer

      .wrap

        .left-column#fineprint
          %p
            %img{ src: 'images/housing.png', width: 20 } 
            Equal Housing Lender. Santander Bank, N.A. is a Member FDIC and a wholly owned subsidiary of Banco Santander, S.A. &copy; 2014 Santander Bank, N.A. All rights reserved. Santander, Santander Bank , the Flame Logo and Extra 20 (in connection with checking account services) are registered trademarks, and A Bank For Your Ideas, Extra 20 and Extra 20 (and Design) in connection with Savings and Credit Card Services) are service marks of Banco Santander, S.A. or its affiliates or subsidiaries in the United States or in other countries.
          %p
            &copy; 2014 Santander Bank, N.A.
            %br
            %a{ href: 'http://www.santander.com/' } Learn More About Santander Bank

        .right-column#hsgcontact
          %img{ src: 'images/hsg.png' }
          %br
          617-249-0531
          %br
          preorders@highstartgroup.com
          %br
          %a{ href: 'http://www.highstartgroup.com' }Learn More About High Start Group

        .clearfix

    %div{ style: 'display: none '}
      :javascript
        var google_conversion_id = 970495656;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "2xnUCICSugkQqK3izgM";
        var google_remarketing_only = false;

      %script{ src: '//www.googleadservices.com/pagead/conversion.js' }

      %noscript
        %div{style: 'display:inline;' }
          %img{ height: "1", width: "1", style: "border-style:none;", alt: "", src: "//www.googleadservices.com/pagead/conversion/970495656/?label=2xnUCICSugkQqK3izgM&amp;guid=ON&amp;script=0" }

      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       
        ga('create', 'UA-53945850-2', 'auto');
        ga('send', 'pageview');
        